{% extends "parts/generic_frame.twig" %}

{% block content %}
    <h3>Sign up</h3>

    <div class="row">
        <p>Sorry this link is invalid.</p>
        <p>confirm link was expire, or already activated.</p>

        <p><a href="/sign/in">try sign in.</a> or, <a href="/sign/up">please retry sign up.</a></p>
    </div>

{% endblock %}