{% extends "parts/generic_frame.twig" %}

{% block content %}
    <h3>Sign up</h3>

    <div class="row">
        <p>Please check the confirmation email at your address.</p>

        <p>If not find the email, check your spam box or retry sign up.</p>
    </div>
{% endblock %}