{% extends "parts/generic_frame.twig" %}

{% block content %}
    <h3>Sign in</h3>

    <div class="row">
    {% if errors %}
        <div class=".error">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form action="/sign/in" method="post" class="col s12">

        <div class="row">
            <div class="input-field col s4">
                <input placeholder="user@example.jp" type="text" name="login_id" value="{{ login_id }}"
                       class="validate">
                <label for="first_name">login id</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="****" id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s4">
                <button class="btn-large" type="submit">sign in</button>
            </div>

        </div>
    </form>
{% endblock %}