{% extends "parts/generic_frame.twig" %}

{% block content %}
    <h3>Sign up</h3>

    <div class="row">
        <p>Done! your account is now active.</p>

        <a href="/sign/in">please sign in.</a>
    </div>

{% endblock %}